body {
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: #f4f4f4;
  padding: 20px;
}

nav{
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

input {
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

button {
  padding: 5px 10px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: darkblue;
}

img {
  image-rendering: pixelated; /* Keeps pixel art crisp */
  width: 192px;  /* Default sprite is 96px, so we double it */
  height: 192px;
}